.footer_area {
  padding-top: 30px;
  background: $gray-bg;
  &_wrapper {
    display: flex;
    flex-direction: column;
    @include large {
      flex-direction: row;
    }
    @include flex-align(start);
    padding-bottom: 30px;
    &_left {
      @include large {
        max-width: 40%;
        width: 100%;
      }
      .brand_logo {
        img {
          height: 85px;
        }
      }
      p {
        margin-bottom: 30px;
      }
      .contact_payment {
        @include small {
          display: flex;
          margin-bottom: 0;
        }
        .contact {
          margin-right: 30px;
          margin-bottom: 20px;

          h3 {
            font-size: 16px;
            margin-bottom: 10px;
          }
          h2 {
            font-size: 22px;
            color: $txt-second-color;
          }
        }
        .payment {
          h3 {
            font-size: 16px;
            margin-bottom: 10px;
          }
          img {
            width: 220px;
          }
        }
      }
    }
    &_right {
      @include large {
        max-width: 60%;
        width: 100%;
        margin-left: 60px;
      }
      margin-left: 30px;
      grid-column-gap: 30px;
      margin-top: 40px;
      .footer_widget {
        margin-bottom: 30px;
      }
      h3 {
        margin-bottom: 30px;
      }
      ul {
        li {
          margin-bottom: 10px;
        }
      }
    }
  }
  &_copy_right {
    padding: 10px 20px;
    @include flex(center, center);
    background: $gray-dark-bg;
  }
}
